
@font-face {
	font-family: 'Montserrat';
	src: url('../font/Montserrat-Bold.otf') format('otf'),
		url('../font/Montserrat-Light.otf') format('otf'),
		url('../font/Montserrat-Regular.otf') format('otf');
}
@font-face {
	font-family: 'Domine';
	src: url('../font/Domine-Bold.ttf') format('ttf'),
		url('../font/Domine-Regular.ttf') format('ttf'),
}
@font-face {
	font-family: 'OpenSans';
	src: url('../font/OpenSans-BoldItalic.ttf') format('ttf'),
		url('../font/OpenSans-Light.ttf') format('ttf'),
		url('../font/OpenSans-Regular.ttf') format('ttf'),
}