.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.main a  {
	color: #fa5c65;
	
}
.main-first  {
	display: flex;
	flex-wrap: nowrap;
	padding-top: 85px;
	padding-bottom: 110px;
	
}

.block_peaceofmind {
	max-height: 192px;
	max-width: 257px;
	margin-right: 50px;
}
	

.block_peaceofmind h2 {
	font-size: 30px;
	line-height: 26px;
	color: #465065;
	font-weight: 700;
	font-family: "Montserrat";
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 15px;
	max-height: 100px;
	
}

.block_peaceofmind p {
	font-size: 16px;
	line-height: 22px;
	color: #9aa0ab;
	font-weight: 400;
	font-family: "Open Sans";
	margin-top: 20px;
	margin-bottom: 30px;
	text-decoration: none;
}

.block_actualfree {
	max-height: 192px;
	max-width: 257px;
	margin-right: 50px;
}
.block_actualfree h2 {
	font-size: 30px;
	line-height: 26px;
	color: #465065;
	font-weight: 700;
	font-family: "Montserrat";
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 15px;
	max-height: 100px;
}

.block_actualfree p {
	font-size: 16px;
	line-height: 22px;
	color: #9aa0ab;
	font-weight: 400;
	font-family: "Open Sans";
	margin-top: 20px;
	margin-bottom: 30px;
	text-decoration: none;
}

.block_simplepayments {
	max-height: 192px;
	max-width: 257px;
	margin-right: 50px;
}
.block_simplepayments h2 {
	font-size: 30px;
	line-height: 26px;
	color: #465065;
	font-weight: 700;
	font-family: "Montserrat";
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 15px;
	max-height: 100px;
}

.block_simplepayments p {
	font-size: 16px;
	line-height: 22px;
	color: #9aa0ab;
	font-weight: 400;
	font-family: "Open Sans";
	margin-top: 20px;
	margin-bottom: 30px;
	text-decoration: none;
}


.rectangle-text {
	width: 200px;
	height: 100px;
	display: flex;
}
.rectangle-text:hover a {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	transform: scaleX(1.2%);
	text-decoration: underline;
}

.rectangle-text  img {
	margin-top: 20px;
	width: 20px;
	height: 15px;
}
.rectangle-text p {
	font-size: 14px;
	line-height: 20px;
	color: #fa5c65;
	font-weight: 700;
	font-family: "Montserrat";
	text-transform: uppercase;
}