
#w { 
	display: block;
	width: 660px;
	margin: 0 auto;
	margin-top: 25px;
	padding: 35px 15px;
	background: #fff;
	border-radius: 7px;
	box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.55);
  }
  
  form .row { 
	display: block;
	padding: 7px 8px;
	margin-bottom: 7px;
  }
  form .row:hover {
	background: #f1f7fa;
  }
  
  form label {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	width: 120px;
	padding: 6px 0;
	color: #464646;
	vertical-align: top;
  }
  form .req { color: #ca5354; }
  
  form .note { 
	font-size: 1.2em;
	line-height: 1.33em;
	font-weight: normal;
	padding: 2px 7px;
	margin-bottom: 10px;
  }
  
  form input:focus, form textarea:focus { outline: none; }
  
  
  form .txt {
	display: inline-block;
	padding: 8px 9px;
	padding-right: 30px;
	width: 240px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.35em;
	font-weight: normal;
	color: #898989;
	background-color: #f0f0f0;
	background-image: url('.img/checkmark.png');
	background-position: 110% center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
	transition: all 0.3s linear;
  }
  
  form .txtarea {
	display: inline-block;
	padding: 8px 11px;
	padding-right: 30px;
	width: 320px;
	height: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.35em;
	font-weight: normal;
	color: #898989;
	background-color: #f0f0f0;
	background-image: url('.img/checkmark.png');
	background-position: 110% 4%;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	box-sizing: content-box;
	border-radius: 3px;
	box-shadow: 0 1px 4px -1px #a8a8a8 inset;
	transition: all 0.3s linear;
  }
  
  form .txt:focus, form .txtarea:focus {
	width: 300px;
	color: #545454;
	background-color: #fff;
	background-position: 110% center;
	background-repeat: no-repeat;
	border-color: #059;
	box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7); 
  }
  form .txtarea:focus { 
	width: 375px; 
	background-position: 110% 4%;
  }
  
  form .txt:valid {
	background-color: #deecda;
	background-position: 98% center;
	background-repeat: no-repeat;
	color: #7d996e;
	border: 1px solid #95bc7d;
  }
  form .txtarea:valid {
	background-color: #deecda;
	background-position: 98% 4%;
	background-repeat: no-repeat;
	color: #7d996e;
	border: 1px solid #95bc7d;
  }
  form .txt:focus:valid, form .txtarea:focus:valid {
	box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);  
  }
  
  form .center {
	margin-top: 25px;
	text-align: center;
  }
  
  #submitbtn {
	height: 70px;
	width: 275px;
	padding: 0;
	cursor: pointer;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 2.0em;
	color: #0a528f;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.65); 
	border-width: 1px;
	border-style: solid;
	border-color: #317bd6 #3784e3 #2d74d5 #3774e3;
	border-radius: 3px;
	background-color: #4581e5;
	background-image: linear-gradient(top, #6faefd, #4581e5);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	transition: all 0.3s linear; 
  }
  #submitbtn:hover, #submitbtn:focus {
	box-shadow: 0 0 15px rgba(70, 100, 200, 0.9);
  }
  
  #submitbtn:active {
	box-shadow: 0 0 15px rgba(70, 100, 200, 0.9), 0 1px 3px rgba(0,0,0,0.4) inset;
  }